.App {
  text-align: center;
}
.App p{
  width: 45%;
  margin: auto;
  max-width: 500px;
  line-height: 145%;
  min-width: 300px;
}
.block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}