.login form fieldset{
    border:0px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.login form fieldset label{
    display: block;
}
.login button{
    float: left;
    margin-left: .9rem;
    padding: 0.25rem 3rem;
    margin:1rem;
    margin-bottom: 0rem;;
}